# Ignore all files directly in deb packages sources subdirs except some specific, keep only directories
/tricolor-led/*
!/tricolor-led/README.md

# Ignore all directories inside /pkgname-pkgversion/debian/ except some specific
/*/*/debian/*/
!/*/*/debian/source/
!/*/*/debian/patches/
!/*/*/debian/conf/
!/*/*/debian/config/

# Ignore some files in /pkgname-pkgversion/debian/
/*/*/debian/*.debhelper.log
/*/*/debian/*.debhelper
/*/*/debian/*.substvars
/*/*/debian/*.ex
/*/*/debian/*.EX
/*/*/debian/debhelper-build-stamp
/*/*/debian/files
/*/*/debian/*-stamp

# Ignore deb packages
*.deb
